html {
  box-sizing: border-box;
  font-family: "GothamPro-Black";
  color: lavender;
}
body {
  background-color: #272f41;
  width: 100%;
  overflow: auto;

}
@font-face {
font-family: "GothamPro-Black"; 
src: url("../fonts/GothamPro-Black.ttf"); 
font-style: lighter; 
font-weight: lighter;
}
.container1 {
  height: 500px;
  position: relative;
}
.block{
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
.block h2{
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: white;
  font-weight: 400;
}
.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}
/*--------------------------------*/
section:nth-child(3) { background: #0aba58; color: #fff; }
section:nth-child(4) { background: #f8c82d; color: #333; }

.box:nth-child(2) { background: #f8c82d; }
.box:nth-child(3) { background: #0aba58; }
a {
  color: inherit;
}

.delighter.splash {
  transition: all 2s ease-out;
}
.delighter.splash.ended {
  background: #fff;
}
.delighter.right { transform:translate(-100%); opacity:0; transition: all .75s ease-out; }
.delighter.right.started { transform:translate(100); opacity:1; }

.delighter.left { transform:translateX(-50%);opacity: 0;  transition: all .75s ease-out; }
.delighter.left.started { transform:translateX(100); opacity:1; }

.delighter.bottom { transform:translateyX(-100%); opacity:0; transition: all .5s ease-out; }
.delighter.bottom.started { transform:none; opacity:1; }

.delighter.top { transform:translatey(100%); opacity:0; transition: all .5s ease-out; }
.delighter.top.started { transform:translate(0%); opacity:1; }

.delighter li { opacity: 0; transform: translatey(200%); transition: all .7s ease-out;width: 30%; }
.delighter.started li { opacity: 1; transform: none; }
.delighter.started li:nth-child(1) { transition: all .7s ease-out .1s; }
.delighter.started li:nth-child(2) { transition: all .7s ease-out .3s; }
.delighter.started li:nth-child(3) { transition: all .7s ease-out .5s; }
.delighter.started li:nth-child(4) { transition: all .7s ease-out .7s; }
.delighter.started li:nth-child(5) { transition: all .7s ease-out .9s; }
.delighter.started li:nth-child(6) { transition: all .7s ease-out 1.1s; }
.delighter.started li:nth-child(7) { transition: all .7s ease-out 1.3s; }

.delighter pre {
   transition: all 1s ease-out; opacity:0;
  width: 1px; overflow: hidden;
  background-color: #ffe300;

}
.delighter.started pre {
   width: 100%;height: 200px;opacity: 1;
}
.delighter .box { transition: all 1s ease-out; }
.delighter .box:nth-child(1) { transform: translate(-100%, 0); }
.delighter .box:nth-child(2) { transform: translate(170%, -70%); }
.delighter .box:nth-child(3) { transform: translate(20%, 0%); }

.delighter.started .box:nth-child(1) { transform: translate(0, 0); }
.delighter.started .box:nth-child(2) { transform: translate(70%, -70%); }
.delighter.started .box:nth-child(3) { transform: translate(20%, -120%); }
/*-----------------------------------------------------------------*/
.container2 {
  position: relative;
  width: 100vw;
}

.scrolling-text {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  will-change: transform;
  backface-visibility: hidden;
}

.scrolling-text .scrolling-text-content {
  color: black;
  font-size: 100px;
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  line-height: 0.5em;
  margin: 25px 0;
}
/*----------------------------------*/
.container_a {
  width: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container_a .card {
  position: relative;
  cursor: pointer;
  padding: 5%;
}

.container_a .card .face {
  width: 15em;
  height: 300px;
  transition: 0.5s;
}

.container_a .card .face.face1 {
  position: relative;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  transform: translateY(100px);
}

.container_a .card:hover .face.face1 {
  background: #333;
  color: white;
  transform: translateY(0);
}

.container_a .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container_a .card:hover .face.face1 .content {
  opacity: 1;
}

.container_a .card .face.face1 .content img {
  max-width: 100px;
}

.container_a .card .face.face1 .content h4 {
 
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container_a .card .face.face2 {
  position: relative;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
 
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container_a .card:hover .face.face2 {
  transform: translateY(0);
}

.container_a .card .face.face2 .content h4 {
  margin: 0;
  padding: 0;
}

.container_a .card .face.face2 .content_a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #AFAAAD;
  padding: 5px;
  border: 1px solid #333;
}

.container_a .card .face.face2 .content_a:hover {
  background: #333;
  color: #fff;
}
/*-------------------------------------------------------------*/
.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 5 / 3; }
.div2 { grid-area: 1 / 3 / 5 / 5; }
/*-------------------------------------------------------------------*/
.parent2 {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 5 / 3; }
.div2 { grid-area: 1 / 3 / 5 / 5; }
.div3 { grid-area: 1 / 5 / 3 / 7; } 

/*---------------------------------------------------------------------------*/
.myButton {
  
  background-color:white;
  border-radius:25px;
  border:2px solid mistyrose;
  display:inline-block;
  cursor:pointer;
  color: #fb9fa4;
  font-size:20px;
  font-weight:bold;
  padding:12px 16px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
  
  background-color: mistyrose;
}
.myButton:active {
  position:relative;
  top:1px;
}
/*-------------------------------------------------*/
.container {
  background:#222;
  width:80%;
  margin:0 auto;
  overflow:auto;
  padding:2%;
}
.right-content, .left-content {
  float:left;
  display:block;
  width:40%;
  padding:1% 2%;
}
.left-content {
  border-right:5px dotted #666; 
  text-align:right;
}
.left-content p {
  margin:150px 0 0;
}
.right-content p {
  margin:80px 0 150px;
}
.container p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out; 
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}
